@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 9999999;
    overflow: visible;
    background: #fff url('../Images/loader.gif') no-repeat center center;
}

.landing-page,.navTop{
   background-color: #FF9F1A; 

}

.landing-page{
    height: 93.7vh;
    color: white;
}

.landing-page h1{
    font-size: 3rem;
}

.product-card .card-body{
    cursor: pointer;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    padding: 2rem;
    border-radius: 1rem;
}

.product-card .card img{
    border-radius: 1rem 1rem 0 0;
}

.product-card .card{
    border: none;
}

/*Scroll bar Style*/

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  #avatar{
    object-fit: cover;
  }

 /* .popup{
    width: 400px;
    background: #fff;
    border-radius: 6px;
    border-color: #333;
    border-width: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 0 30px 30px;
   
    visibility: hidden;

  }
  
  .popup button{
    width: 100px;
    margin-top: 50px;
    padding: 10px 0;
    background: #6fdf46;
    color: #fff;
    border-radius: 4px;
    border: 0;
    outline: none;
  }

  .open-popup{
    visibility: visible;
  }
  */
  .items{
    overflow-y: auto;
    max-height: 60%;
  
  }
  .subtotal{
    text-align: left;
  }
  .subtotal2{
    text-align: right;
  }
  .delivery{
    text-align: left;
  }
  .delivery2{
    text-align: right;
  }
  .total{
    text-align: left;
  }
  .total2{
    text-align: right;
  }
  
