@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
}

.landing-page,.navTop{
   background-color: #FF9F1A;

}

.landing-page{
    height: 93.7vh;
    color: white;
}

.landing-page h1{
    font-size: 3rem;
}
